@model LiveTunes.MVC.Models.Event

@{
    ViewData["Title"] = "Details";
}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
<script src="~/js/comment.js"></script>

<div class="card">
    <div class="card-header">
        Event Name
    </div>
    <div class="card-body container">
        <div class="row">
            <div class="col-3">
                <img />
            </div>
            <div class="col-9">
                <h5 class="card-title">Name: @Model.EventName</h5>
                <h5 class="card-title">Date: @Model.DateTime.ToString("dd.MM.yyyy")</h5>
                <h5 class="card-title">Time: @Model.DateTime.ToString("HH:mm")</h5>
                <h5 class="card-title">Genre: @Model.Genre</h5>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <form asp-controller="Event" asp-action="Like" asp-route-id="@Model.EventId" method="POST">
            @if(Model.LikeCount == 0){
                <button type="submit" class="btn btn-sm btn-secondary"><i class="fa fa-thumbs-up"></i> Do you want to be the first?</button>
            }
            else
            {
                if (Model.UserLiked)
                {
                    <button type="submit" class="btn btn-sm btn-outline-danger"><i class="fa fa-thumbs-down"></i> Unlike (@Model.LikeCount)</button>
                }
                else {
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-thumbs-up"></i> Like (@Model.LikeCount)</button>
                }
            }
        </form>

        
    </div>

    <div>
        <h1 id="comments"></h1>
    </div>
</div>

<script>
    getComments(@Model.EventId);
</script>
